@mixin phone {
    @media screen and (max-width: 320px) {
      @content;
    }
};

@mixin tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
};

@mixin desk {
    @media screen and (min-width: 1200px) {
      @content;
    }
};

.row{
    @include phone {
        flex-direction: column;
    }
}

.navbar{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    &-brand{
        color: white !important;
    }
}

.navbar-nav{
    li{
        
        a{
            color: white !important;
            font-weight: 600;
        }
    }
}

.header{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: white;
    padding-top:5%;

    &__bottom-shape{
        background-image: linear-gradient(to right, #a517ba, #5f1782);
        padding: 2%;
        
    }
}

//for testing purpose, didn't work with Bootstrap 
.clipped{
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    padding: 2%;
}

.services{
    padding: 80px 0;
    
    &__heading--withborder{
        text-transform: uppercase;
        margin: 32px 0;

        //adding the divider below the heading text. Not that this doesn't translate well in mobile layout, or when the heading is not <h2>
        &::before{
            content: '';
            background: #7b1798;
            height: 5px;
            width: 200px;
            margin: auto;
            display: block;
            transform: translateY(50px);
        }

        //adding another small decor to the divider. It doesn't scale well in mobile layout
        // &::after{
        //     content: '';
        //     background: #7b1798;
        //     height: 10px;
        //     width: 50px;
        //     margin-left: auto;
        //     margin-right: auto;
        //     margin-bottom: 40px;
        //     display: block;
        //     transform: translateY(4px);
        // }
    }

    &-img{
        width: 100%;
        // margin-top: 20px;
    }

    //chose to name classes for h2 only in services section since parent Bootstrap class selector could be too wide and may cause unwanted inheritence in other styling sections
    &__title{
        padding: 5px;
        // margin-top: 25px;
        text-transform: capitalize;
    }

    .btn-primary{
        box-shadow: none;
        padding: 8px 25px;
        border: none;
        border-radius: 20px;
        background-image: linear-gradient(to right, #a517ba, #5f1782);
    }
}

.about-us{
    &__heading{
        @extend .services__heading--withborder;
    }
}

.testimonial {
    margin: 100px 0;
    background-color: ghostwhite;

    &__heading{
        @extend .services__heading--withborder;
    }

    &__quote{
        border-left: 5px solid #a517ba;
        margin: 50px 0px;

        h4{
            display: inline-block;
            font-size: 12px;
        }
    }

    &__img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin: 0 10px;
        object-fit: fill;
    }
}

.social-media{
    margin: 100px 0;

    &__icons{
        img{
            width: 30%;
            transition: 0.5s;

            &:hover{
                transform: translateY(-10px);
            }
        }
    }
}

.footer{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: white;
    padding: 32px;

    .col-md-4{
        .fas{
            margin-right: 8px;
            font-size: 25px;
            height: 40px;
            width: 40px;
            text-align: center;
            padding-top: 7px;
            border-radius: 2px;
            background-image: linear-gradient(to right, #a517ba, #5f1782);
        }
    }

}


.myCarousel{
    //adding this width makes carousel look very small on mobile layout. Could add a media query mixin?
    width: 50%;
    margin-bottom: 40px;
    @include phone {
        width: 100%;
    }
}